[Unit]
Description=dggchat is the chat backend for destiny.gg
After=network.target

[Service]
User=sztanpet
Group=sztanpet
WorkingDirectory=/home/sztanpet/chat/live
ExecStart=/home/sztanpet/chat/live/chat
Restart=on-failure
LimitNOFILE=80000

[Install]
WantedBy=multi-user.target
